body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}


#screen-indicator {
    position: absolute;
    height: 0;
    width: 0;
    z-index: 1;
}

@media (max-width: 1199px) {
    #screen-indicator {
        z-index: 8;
    }
}

@media (max-width: 991px) {
    #screen-indicator {
        z-index: 7;
    }
}

@media (max-width: 767px) {
    #screen-indicator {
        z-index: 6;
    }
}

@media (min-width: 480px) {
    #screen-indicator {
        z-index: 5;
    }
}

@media (min-width: 768px) {
    #screen-indicator {
        z-index: 4;
    }
}

@media (min-width: 992px) {
    #screen-indicator {
        z-index: 3;
    }
}

@media (min-width: 1200px) {
    #screen-indicator {
        z-index: 2;
    }
}
